<mat-toolbar color="primary">
  <a routerLink="/home" routerLinkActive="active123" id="home-anchor"><span>Shop-Online</span></a>

  <div class="spacer">
    <a routerLink="/Cart" routerLinkActive="active123" mat-button>Cart</a>
    <a routerLink="/home" routerLinkActive="active123" mat-button>Home</a>
    <a routerLink="/Login" routerLinkActive="active123" mat-button>Login</a>
    <a routerLink="/SignUp" routerLinkActive="active123" mat-button>Sign Up</a>
    <a


      mat-raised-button
      color="accent"
      (click)="logout()"
      >Logout</a
    >
  </div>
</mat-toolbar>
<!--
<app-sidenav></app-sidenav> -->
