<!--
{{products|json}} -->
<div class= "container-fluid">
   <div *ngFor="let product of Cart$| async" class="products">
    <mat-card class="example-card"> -->
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.title}}</mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image bind-src="product.image" alt="" height="100px" width="100px">
      <mat-card-content>
        <p>{{product.description}}</p>
        <p>Quantity is {{product.quantity}}</p>

        <p>Price is {{product.price}}</p>
<input #quantity type="range" name="qty" value="{{product.quantity}}" min="1" max="10" (change)="updateProduct(product.id, quantity.value)">

</mat-card-content>
      <mat-card-actions style="background-color:#54b8d0;">

        <button  mat-raised-button color="accent" (click)=DeleteProduct(product.id) class="cart-button" >REMOVE TO CART</button>

      </mat-card-actions>
    </mat-card>

  </div>

<h2 style="text-align: center"> Price $ :{{price$|async}} </h2>
<button (click)=sendproduct() mat-button>Payment</button>




</div>
